$desktop-large-min  : 1200px;
$desktop-large-max  : $desktop-large-min - 1;
$desktop-min        : 1024px;
$desktop-max        : $desktop-min - 1;
$tablet-min         : 768px;
$tablet-max         : $tablet-min - 1;
$mobile             : 320px;
$mobile-max         : 425px;